public/favicon.ico
public/robots.txt
.flowconfig
.gitignore
.prettierignore
yarn.lock
yarn-error.log
package-lock.json
LICENSE
*.ejs
build
dist
assets
vendors
*.dump
# anything starting with debug
debug*
# anything starting with exp
exp*
# anything starting with ____
____*
node_modules
.vscode
package.json

.DS_Store
.env-cmdrc