:root {
    --primary: #1890ff;
}

@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.no-copy {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

@layer components {
    .hmax {
        @apply h-screen min-h-full;
    }
}

/* Base Setup */
#layout {
    @apply hmax overflow-hidden;
}

#header {
    @apply sticky top-0 z-10;
}

#content {
    @apply hmax overflow-auto p-14 z-0 flex;
}

/* Event Link Page */

/* ANTD Override */
#event-link-slot-list .ant-list-header {
    padding-top: 12px;
    padding-bottom: 4px;
}

#event-link-slot-list .ant-list-item {
    padding: 6px 0 0 0;
}

#event-link-slot-list .ant-spin-nested-loading {
    max-height: 80vh;
    overflow-y: auto;
}

/* Calendar on the link page - CSS Props */
#event-link-calendar-container .ant-picker-calendar-date-content {
    @apply px-2 md:px-4 bg-white h-auto;
}

/* Animation to show Loading on button */
/* @primary-color: #1890ff; */
.animate-setup-api-call {
    background: linear-gradient(
        to right,
        var(--primary) 50%,
        white 50%
    ) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    transition: all 5s ease !important;
}
