:root {
    --primary: #1890ff;
}

@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-copy {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

/* Animation to show Loading on button */
/* @primary-color: #1890ff; */
.animate-setup-api-call {
    background: linear-gradient(
        to right,
        var(--primary) 50%,
        white 50%
    ) !important;
    background-size: 200% 100% !important;
    background-position: right bottom !important;
    transition: all 5s ease !important;
}
