@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333 !important;
}

.no-copy {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Likely future */
}

.hoverEffect2:hover {
    cursor: pointer;
    color: #018ccf;
    border: 1px solid #c8e6f4;
}

.slider {
    z-index: 10;
}

.pull-bottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

.tableContent {
    display: flex;
    align-items: center;
    justify-content: center;
}
